* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #111216;
  color: #ffffff;
}

a {
  color: inherit;
}

button,
a {
  font-family: inherit;
}